@inherits LayoutComponentBase

@* MainLayout.razor *@
<div class="d-flex flex-column min-vh-100">
    <NavMenu />

    <div class="d-flex flex-grow-1">
        <SideMenu />
        <main class="p-4 md:ml-64 h-auto pt-20">
            @Body
        </main>
    </div>
</div>

@code {
// Add any C# code here if necessary
}
